# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch Lightning logs
lightning_logs/

# Saved models
models/

# Generated documentation and reports
docs/
data/
reports/

# Build artifacts
dist/
build/
*.egg-info/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment folders
.venv/
venv/
env/
*.env
.python-version